[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggdibbler"]
	path = ggdibbler
	url = https://github.com/harriet-mason/ggdibbler
